.App {
  text-align: center;
}
.sidebar {
  text-align:left;
}
.task-container {
  margin-left:150px;
  padding:10px;
}
.task-form {
  text-align: left;
  margin-bottom: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #EEEEEE;
  padding: 30 0 30 0;
  padding-left: 20%;
  padding-right: 20%;
}

.ui.segments:hover {
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
}
.segment-failed {
  border-top: 2px solid #DB2828 !important;
}
.segment-success {
  border-top: 2px solid #B5CC18 !important;
}
.segment-running {
  border-top: 2px solid #00B5AD !important;
}
.segment-inactive {
  border-top: 2px solid #BBBBBB !important;
}

